body {
  margin: 20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol,
ul {
  padding-left: 30px;
}

#root {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  display: flex;
  height: 34px;
  line-height: 34px;
  justify-content: center;
  padding-top: 7px;
}

.tile {
  background: whitesmoke;
  border: 1px solid #999;
}

.square {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 37px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 37px;
}

.circle {
  border-radius: 50%;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.rounded-button {
  float:left;
  background: #ccc;
  border: 1px solid #999;
  border-radius: 15px;
  width: 25%;
  font-size: 14px;
  font-weight:400;
  margin: 6px 3px 6px 0px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.rounded-button:focus {
  outline: none;
}

.rounded-button:active {
  background-color: #999;
}

.rounded-button:hover {
  background-color: #7a7a7a;
}

.safe {
  background: lightgrey;
}

.empty {
  color: lightgrey;
}

.mine {
  background: black;
  color: whitesmoke;
}

.square:focus,
.circle:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.kbd-navigation .circle:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.tile-select {
  margin-top: 6px;
}
